* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

.container {
  max-width: 1280px !important;
  margin: 0 auto;
}

.container-xl {
  max-width: 1536px !important;
  margin: 0 auto;
}

.text-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
}

@media screen and (max-width: 640px) {
  .text-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.font-acumin {
  font-family: "acumin-pro", sans-serif;
}

.font-abril {
  font-family: "Abril Fatface", serif;
}

.article-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
}

@media screen and (max-width: 640px) {
  .article-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }
}

.text-magenta {
  color: #ec008c;
}

.bg-magenta {
  background-color: #ec008c;
}

.radius {
  border-radius: 12px 0 12px 12px;
}

/* FORM INPUT STYLES */
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  box-shadow:
    0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 768px) {
  .asd {
    row-gap: 32px;
    flex-direction: column;
  }
}

.form {
  width: 100%;
  border-bottom: 1px solid #5a5d67;
  padding-bottom: 50px;
}

.form-group {
  position: relative;

  & + .form-group {
    margin-top: 40px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #5a5d67;
  z-index: 10;
  transition:
    transform 150ms ease-out,
    font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.form-input {
  background-color: #000;
  color: #fff;
  position: relative;
  padding: 5px 0px 16px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #5a5d67;
  transition: box-shadow 150ms ease-out;
}

/* Splash Ekranı */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1000ms ease; /* Yukarı kayma animasyonu */
  z-index: 20;
}

/* hidden sınıfı eklendiğinde yukarı kaydır */
.splash.hiddenSplash {
  transform: translateY(-100%);
}

/* Tam sayfa menü kaplaması */
.full-page-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%); /* Menü başlangıçta görünmez */
  transition: transform 0.5s ease;
  z-index: 10;
}

/* Menü görünür olduğunda */
.full-page-menu.active {
  transform: translateY(0); /* Menü ekranın tamamını kaplar */
}

/* Typewriter efekti için stil */
.typewriter {
  border-right: 3px solid white;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation:
    typing 3s steps(30) 1s 1 normal both,
    blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* İkonların ve resimlerin dönme efekti için uygulanan stil */
.circular {
  animation: circular 15s linear infinite;
}

@keyframes circular {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Yukarı aşağı animasyonu tanımlıyoruz */
.arrow {
  font-size: 40px;
  animation: upDown 1s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
